<!-- Landing Page -->
	<section class="explore" style="padding-bottom: 80px">
	  <div class="container">
	    <div class="row text-center">
	      <div class="col-md-4">
	        <h4 class="landing-text">Enter Your Location</h4>
	        <%= image_tag("map.JPG", size: '335x344', class: "img-circle") %>
	        <p class="text-muted" style="padding-top: 50px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare sagittis finibus. Donec sed enim in tellus lacinia blandit. Curabitur et consectetur ligula. Fusce mattis sed odio at mattis. Nulla facilisi. </p>
	      </div>
	      <div class="col-md-4">
	        <h4 class="landing-text">Find A Friend</h4>
	        <%= image_tag("backpackers.jpg", size: '335x344',class: "img-circle") %>
	        <p class="text-muted" style="padding-top: 50px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare sagittis finibus. Donec sed enim in tellus lacinia blandit. Curabitur et consectetur ligula. Fusce mattis sed odio at mattis. Nulla facilisi. </p>
	      </div>
	      <div class="col-md-4">
	        <h4 class="landing-text">Go Travel Now</h4>
	        <%= image_tag("plane.jpg", size: '335x344', class: "img-circle") %>
	        <p class="text-muted" style="padding-top: 50px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ornare sagittis finibus. Donec sed enim in tellus lacinia blandit. Curabitur et consectetur ligula. Fusce mattis sed odio at mattis. Nulla facilisi. </p>
	      </div>
	    </div>
	  </div>
	</section>
