<!DOCtype html>
<html>
<head>
  <title>Local Host | Fit right in, right away</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>

  <div class="video-wrap">
    <%= video_tag(["local_host"], class: "video-bg-elem", autoplay: true, loop: true, muted: true)%>
    <div class="content">
      <h1>Welcome to Local Host!</h1>
      <p>Fit right in, right away</p>
    </div>
  </div><hr>

  <h1 class="how-does-it-work">How does it work?</h1>

  <%= render partial: '/welcome/landing_page' %>

</body>

</html>

